---
import BaseLayout from '../../layouts/Base-Layout.astro'
---

<BaseLayout title="about">
    <h1>Hi! my name is David Ko</h1>
    <p>I am a chef turned software developer works with Javascript</p>
    <p>I am also a big fan of Svelte, Swift, and SwiftUI</p>

    <a href="https://www.loyyee.co" target="_blank">
        You can also visit my website</a
    >
</BaseLayout>
