---
import Github from '../components/img/github.astro'
import Linkedin from '../components/img/linkedin.astro'
import Ramen from '../components/img/ramen.astro'
import Twitter from '../components/img/twitter.astro'

const size = 24
---

<footer class="sticky bottom-2 flex gap-5 justify-end ">
    <a class="dark:bg-slate-100 p-[0.3rem] rounded-sm" href="https://www.linkedin.com/in/ko-loy-yee/" target="_blank">
        <Linkedin size={size} />
    </a>
    <a class="dark:bg-slate-100 p-[0.3rem] rounded-sm" href="https://github.com/koloyyee/" target="_blank">
        <Github size={size} />
    </a>
    <a class="dark:bg-slate-100 p-[0.3rem] rounded-sm" href="https://twitter.com/KoLoyYee" target="_blank">
        <Twitter size={size} />
    </a>

    <a class="dark:bg-slate-100 p-[0.3rem] rounded-sm" href="https://www.loyyee.co" target="_blank">
        <Ramen size={size} />
    </a>
</footer>

<style>
    footer {
        z-index: 100;
    }
    </style>
