---
import Github from '../components/img/github.astro'
import Linkedin from '../components/img/linkedin.astro'
import Twitter from '../components/img/twitter.astro'

const size = 24
---

<footer class="sticky bottom-2 flex gap-5 justify-end">
    <a href="https://www.linkedin.com/in/ko-loy-yee/" target="_blank">
        <Linkedin size={size} />
    </a>
    <a href="https://github.com/koloyyee/" target="_blank">
        <Github size={size} />
    </a>
    <a href="https://twitter.com/KoLoyYee" target="_blank">
        <Twitter size={size} />
    </a>
</footer>
