---
import '../styles/global.css'
import Hamburger from './Hamburger.astro'
import Nav from './Nav.astro'
import ThemeIcon from './Theme-Icon.astro'
---

<header>
    <nav>
        <Nav />
        <Hamburger />
        <ThemeIcon />
    </nav>
</header>
