---
import BaseLayout from '../layouts/Base-Layout.astro'
import '../styles/global.css'

const { frontmatter } = Astro.props
---

<BaseLayout title={frontmatter.title}>
	<p>Published on: {frontmatter.publishedAt.slice(0, 10)}</p>
	<main>
		<slot />
	</main>
	<div class="tags">
		{
			frontmatter.tags.map((tag) => {
				return (
					<p class="tag">
						{' '}
						<a href={`/tags/${tag}`}>{tag}</a>
					</p>
				)
			})
		}
	</div>
</BaseLayout>

<style>
	main {
		padding: 2rem;
	}
	a {
		color: #00539f;
		text-decoration: none;
	}
	.tags {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
	}

	.tag {
		margin: 0.25em;
		border: dotted 1px #a1a1a1;
		border-radius: 0.5em;
		padding: 0.5em 1em;
		font-size: 1.15em;
		background-color: #f8fcfd;
	}
</style>
